<h2>Yo whaddup, first Rails App</h2>
<h1>TO DO APP</h1>

# can override vars in controller by defining them again in view
# prolly don't wanna do that

<ul>
	<% @tasks.each do |task| %>
		<li><%= task %></li>
	<% end %>
</ul>
