<h2>Yo whaddup, first Rails App</h2>
<h1>TO DO APP</h1>

# can override vars in controller by defining them again in view
# prolly don't wanna do that

<%= link_to 'Show me the tasks', tasks_path %>
<%= link_to 'NEW TASKS', new_task_path %>